@page
@model IndexModel
@{
    ViewData["Title"] = "Siva Home page";
}

<h1>Hellow </h1>
<div class="text-center">
    <h1 class="display-4">Siva Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
